.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $primary_purple;
    border-radius: 2rem;
    max-width: 1200px;
    width: 100%;
    min-height: 90%;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(100% - 16rem);
        height: 100%;
        margin: 2rem 8rem;
        .users {
            color: $primary_white;
            .count {
                margin: 0;
                opacity: 0.5;
                color: white;
                font-size: 0.9rem;
                margin-bottom: 0.5rem;
            }
            div {
                ul {
                    display: flex;
                    flex-direction: row;
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    li {
                        border: 1px solid $primary_green;
                        padding: 1rem 1.5rem;
                        width: fit-content;
                        border-radius: 5px;
                        &:not(:first-child) {
                            margin-left: 0.5rem;
                        }
                        &.self {
                            background-color: $primary_green;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        .forms {
            flex-grow: 1;
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                label {
                    color: $primary_white;
                    text-align: left;
                    padding-bottom: 0.5rem;
                    opacity: 0.5;
                    color: white;
                    font-size: 0.9rem;
                }
                .group {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    input {
                        border: 1px solid $primary_green;
                        background-color: transparent;
                        color: $primary_white;
                        padding: 1rem;
                        font-size: 1rem;
                        border-radius: 0.75rem 0 0 0.75rem;
                        width: 50%;
                    }
                    button {
                        padding: 1rem 1.5rem;
                        font-size: 1rem;
                        font-weight: 600;
                        width: fit-content;
                        border-radius: 0 0.75rem 0.75rem 0;
                        border: 2px solid $primary_green;
                        border: none;
                        background-color: $primary_green;
                        color: $primary_white;
                        transition: all 0.25s ease-in-out;
                        cursor: pointer;

                        &:hover {
                            background-color: darken($primary_green, 10%);
                        }
                    }
                }
            }
            .lootListIntro {
                color: $primary_white;
                text-align: left;
                padding-bottom: 0.5rem;
                margin-bottom: 0;
                opacity: 0.5;
                color: white;
                font-size: 0.9rem;
            }
            .lootList {
                ul {
                    list-style-type: none;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0;
                    margin-top: 2rem;
                    li {
                        margin: 0.5rem;
                        width: fit-content;
                        list-style-type: none;
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: fit-content;
                            color: white;
                            text-decoration: none;
                            flex-direction: column;
                        }
                        .remove {
                            text-align: center;
                            padding-bottom: 0.5rem;
                            opacity: 0.5;
                            color: #cd324e;
                            font-size: 0.9rem;
                            cursor: pointer;
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }
        .stats {
            p:nth-child(1) {
                color: $primary_white;
                text-align: left;
                padding-bottom: 0.5rem;
                margin-bottom: 0;
                opacity: 0.5;
                color: white;
                font-size: 0.9rem;
            }

            .lootValue {
                display: flex;
                color: $primary_white;
                justify-content: flex-start;
                align-items: center;
            }
            .detailedCost {
                margin-left: 1rem;
                color: $primary_white;
                text-align: left;
                margin-bottom: 0;
                opacity: 0.5;
                color: white;
                font-size: 0.9rem;
                margin-top: 0;
            }
        }
    }
}
