.username {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $primary_purple;
    border-radius: 2rem;
    max-width: 1200px;
    width: 100%;
    height: 80%;

    .container {
        display: block;
        width: calc(100% - 25rem);
        height: 100%;
        margin: 6rem 12.5rem;
        h1 {
            top: 0;
            margin: 0;
            color: $primary_white;
            font-size: 2rem;
        }
        p {
            opacity: 0.5;
            color: white;
            font-size: 0.9rem;
        }
        .divider {
            width: 100%;
            opacity: 0.35;
            background-color: white;
            height: 1px;
            margin-top: 4rem;
        }
        form {
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
            width: 100%;
            label {
                color: $primary_white;
                text-align: left;
                padding-bottom: 0.5rem;
                opacity: 0.5;
                color: white;
                font-size: 0.9rem;
            }
            input {
                border: 1px solid $primary_green;
                background-color: transparent;
                color: $primary_white;
                padding: 1rem;
                font-size: 1rem;
                border-radius: 0.75rem;
            }
            .submit {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-top: 2rem;
                button {
                    padding: 1rem 1.5rem;
                    font-size: 0.95rem;
                    font-weight: 600;
                    width: fit-content;
                    border-radius: 60px;
                    border: none;
                    background-color: $primary_green;
                    color: $primary_white;
                    transition: all 0.25s ease-in-out;

                    &:hover {
                        background-color: darken($primary_green, 10%);
                    }
                }
            }
        }
    }
}
