extends ./layout/layout.pug

block content
    section.main
        .container
            section.users
                p.count Users connected:
                div 
                    ul.userlist
            section.forms 
                form(class="lootForm")
                    input(type="text" name="item" id="lootValue")
                    button(type="submit") Add Item to Loot
            section.stats